@import url(https://fonts.googleapis.com/css2?family=oxygen:wght@300;400&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#fff;
    --secondary-color: #f99118;
}


#logo{
    height: 50px;
    width: 50px;
    padding: 1px;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: poppins, sans-serif;
color: #222;
overflow-x: hidden;
}


.navbar{
padding: 1rem;

}
.navbar-nav li{
    padding-right: 1px;
}
.nav-item{
    padding-left: 110px;
}
.navbar-link{
    font-size: 1.1cm;
}
#search{
    color: black;
    background-color: white;
    border-radius: 5px;
}
#search1{
    color: black;
    background-color: grey;
    margin-top: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.sub-head{
    background-color: #232439;
    color: #b5b7c4;
}

.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.for-logo{
    flex-basis: 35%;
    padding: 5px 0 20px 0;
}

.moto{
    color: #97ac22;
    font-weight: 900;
}

.logo-text{
    font-weight: 900;
}

.logo-text span{
    font-size: 30px;
}

.for-contacts{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.info-guide-one{
    color: white;
}

.info-guide-two{
    color: white;
}

.info-guide-three{
    color: white;
}
.getStarted_btn{
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #97ac22;
    color: white
}

.advert{
    text-align: center;
    background: url(../work/image2/IMG\ 4.JPG);
    mix-blend-mode: darken;
    background-size: cover;
    background-position: center;
    color: url(--primary-color);
    padding: 100px 0;
    position: relative;
    width: 100vw;
}

.advert::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(68, 90, 68);
    mix-blend-mode: overlay;
    pointer-events: none;
}

.navigation{
    margin: auto;
}

.navigation ul li{
margin-left: 30px;
}

.action_button{
    margin-top: 20px;
}

.action_button button{
    margin: 10px;
    cursor: pointer;
}

.action_button button:hover{
    transform: translateY(10px);
}

.navigation ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
    padding-left: 10px;
    list-style:none;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.navigation ul li a{
    color: var(--primary-color);
    font-weight: 600;
   

}

.navigation ul li a:hover{
    color:#97ac22;
    font-weight: 900;
}

#trade{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-gap: 3em;
    justify-content: center;
    padding: 40px 0;
}

#trade > div{
    padding: 40px;
    box-shadow: 1px 1px 4px #00000095;
    text-align: center;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background: url(../work/image/background\ image\ \(19\).jpeg);
    background-repeat: no-repeat;
    background-position:bottom;
}

.wrap{
    background-color: black;
}

.wrapper{
    font-family: 'raleway';
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}

.wrapper h3{
font-size: 3em;
margin: 25px 0;
text-align: center;
font-weight: 600;
background: #fafafa;
color: rgb(91, 95, 91);
text-shadow: 1px 1px 10px white;
}

.wrapper h2{
    font-weight: bolder;

}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card i{
    margin: 20px;
    color: #1a3ac9;

}

.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.card p{
    color: #6c757d;
    text-align: center;
}

.card:hover i,
.card:hover p{
    color: #fff;
}

.card:hover h2{
    font-weight: 600;
    color: #f2f2f2;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg, 
                            rgba(255,28,8,0.8) 0%, 
                            rgba(255, 0, 82, 0.8) 100%),
                            url("image2/IMG_0555.JPG");
    background-size: cover;
}

.card:nth-child(2):hover{
    background: linear-gradient(45deg, 
                            rgba(255,28,8,0.8) 0%, 
                            rgba(255, 0, 82, 0.8) 100%),
                            url("image2/nft\ 1.JPG");
    background-size: cover;
}
.customer-care-img{
    width: 100%;
    object-fit: cover;
}

#head{
    color: red;
    text-shadow: 1px 1px 10px white;
    font-size: 25px;
}

.reveal_info{
    margin-top: 5px;
}

.buy_now{
    margin: 20px 10px;
    padding: 0 20px;
}

[data-buy], [data-sell] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.image_icon2{
    width: 20px;
height: 20px;
}

.selling_rate, .buying_rate{
margin: 0 10px;
}

.image_icon{
    width: 100px;
    height: 60px;
}

#about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 7em;
    padding: 0 220px;
}

.collapsible{
    width: 400px;
}

#faq{
    flex-basis: 50%;
}

#faq-label{
    padding-left: 30px;
    font-weight: bold;
    background-color: #232423;
    color: var(--primary-color);
    padding: 5px;
    font-size: 20px;
    text-align: center;
}



footer{
    display: grid;
    background-color: #232439;
    color: #fff;
    background-color: grey;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}

.ft-one, .contact-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fab {
    margin-right:10px;
    color: #f99118;

}

.social_link{
    padding: 10px 0;
}

.social_link .fab{
    border-radius: 50%;
    font-size: 25px;
}

.contact-foot{
    padding: 10px 0;
    text-align: center;
}

footer .divider{
width: 90%;
margin: auto;
}

.contact-foot + .divider{
    width: 80%;
}

.copyright{
    text-align: center;
    padding: 15px 0;
}

@media screen and (max-width: 756px) {
    .sub-head{
        text-align: center;
    }
    .info-guide-one{
        font-size: 35px;

    }
    .info-guide-two{
        font-size: 25px;
        width: 80px;
        margin: auto;
    }
#about {
    grid-template-columns: 1fr;
    padding: 0 20px;
    justify-content: center;
}
#about-us img{
    width: 400px;
}

#trade{
    grid-template-columns: 70%;
}

.for-logo{
    flex-basis: 100%;
    text-align: center;
}

.for-contacts,.getStarted_btn{
    display: none;
}

.navigation ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
}

#faq{
    margin-bottom: 50px;

}

.ft-one{
    padding: 0 20px;
}

.ft-one, .contact-foot{
    justify-content: space-between;
}

.contact-foot{
    padding: 10px 20px;
    font-weight: 700;
}

.contact-foot div > h6{
    font-size: 15px;
}

.contact-foot div > span{
    font-size: 10px;
}

.company_logo{
    font-size: 25px;
}

.copyright{
    text-align: center;
    padding: 15px 0;
}
}